.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    margin: 20px auto;
    row-gap: 20px;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px auto; */
}
.card-container h1 {
    text-align: center;
}
.card-image {
    margin: auto;
    width: 300px;
    height: auto;
}
.card-image img {
    width: 100%;
    height: 100%;
}
.card-text h2 {
    text-align: center;
    margin: 10px 0;
}
p {
    margin: 10px 20px;
}
.card-link {
    margin: 10px 0 10px;
    text-align: center;
}
.fa-github {
    font-size: 2rem;
    color: #000;
}
.two .fa-github {
    color: #fff;
}
.two .fa-github:hover,
.two .fa-github:focus {
    color: var(--blue);
}
.one,
.three {
    background-color: var(--bg-arrow);
    color: var(--black);
}
span {
    margin: 20px;
    text-align: center;
}
