@font-face {
    font-family: "Roboto", sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --bg-header: #3f3f3f;
    --bg-arrow: rgba(255, 255, 255, 0.938);
    --bg-main: #2a2a2a;
    --blue: #0077b5;
    --black: #000;
}
html {
    height: 100%;
    font-family: "Roboto", sans-serif;
}
body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    animation: fadein ease-in 2s;
}
header {
    background-color: var(--bg-header);
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 135px;
}
main {
    background-color: var(--bg-main);
    grid-area: main;
    color: #fff;
}
footer {
    background-color: var(--bg-header);
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 135px;
}
header p {
    color: #fff;
    font-weight: 600;
    user-select: none;
}

/* header */
.logo-container {
    object-fit: contain;
    display: flex;
    flex-direction: row;
}
.circle-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-logo {
    width: 100px;
    height: auto;
    transition: all 1s ease;
}
.circle-center img {
    fill: white;
    color: #fff;
}
.header-logo:hover {
    transform: scale(1.1);
}
.arrow {
    height: 135px;
    width: 100px;
    display: block;
    overflow: hidden;
    background-color: var(--bg-arrow);
}
.left {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
.right {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

/* Index main */
.card {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "img"
        "hl"
        "text";
    margin: 20px auto;
}
.about-img {
    grid-area: img;
    margin: auto;
    width: auto;
    height: 300px;
}
.self-img {
    width: 100%;
    height: 100%;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.about-hl {
    grid-area: hl;
    text-align: center;
}
.about-text {
    background-color: var(--bg-arrow);
    color: #000;
    margin: 10px;
    grid-area: text;
}
.about-hl h1 {
    font-size: 1.8rem;
}
.about-hl h2 {
    font-size: 1.2rem;
}
.about-text p {
    margin: 10px 10px;
    font-size: 1rem;
    font-weight: 300;
}
.link-container {
    margin-bottom: 10px;
    z-index: 200;
}
.protfolio-container {
    display: flex;
    justify-content: center;
}
main img:hover {
    opacity: 0.8;
}
.look {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.fa-angle-down:nth-child(1) {
    margin-bottom: -30px;
}
.fa-angle-down {
    color: var(--bg-arrow);
    font-size: 3rem;
}
.bounce {
    animation: bounce 3s infinite;
}
.interests {
    margin: 40px 0;
    display: grid;
    grid-template-columns: auto;
    text-align: center;
}
.my-interests {
    /* user-select: none; */
    cursor: pointer;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.my-interests span {
    border: 1px solid #fff;
    padding: 5px 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 2px 0 var(--bg-arrow) inset, 0 0 2px 1px var(--bg-arrow);
}
/* button */
button {
    cursor: pointer;
    border-radius: 0;
    border: none;
    background-color: #000;
    color: #fff;
    width: 100px;
    height: 40px;
}

.portfolio {
    width: 100px;
    height: 40px;
    background-color: #000;
}
.btn {
    border-color: var(--blue);
    color: #fff;
    box-shadow: 0 0 40px 40px var(--black) inset, 0 0 0 0 var(--bg-arrow);
    transition: all 400ms ease-in-out;
}
.btn:hover,
.btn:focus {
    box-shadow: 0 0 10px 0 var(--bg-arrow) inset, 0 0 10px 4px var(--bg-arrow);
}

/* footer */
.footer-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fa-brands {
    color: #fff;
    margin: 0 11.5px;
    transition: all 1s ease;
}
.fa-brands:hover {
    transform: scale(1.2);
    color: #0077b5;
}
.fa-linkedin-in {
    font-size: 40px;
    margin-bottom: 40px;
}
.fa-facebook-f {
    font-size: 35px;
}

/* loader intro */
.loader {
    width: 100vw;
    height: 100vh;
    background-color: #3f3f3f;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rotate {
    position: relative;
    animation: rotate 5s infinite linear;
}
.rotate::before,
.rotate::after {
    content: "";
    position: absolute;
}
.loader-img {
    width: 200px;
    height: auto;
}

/* keyframes */
@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    80% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

/* media Q */
@media only screen and (max-width: 360px) {
    /* .circle {
        background-color: #3f3f3f;
    } */
}
@media only screen and (min-width: 600px) {
    .about-hl h1 {
        font-size: 1.9rem;
    }
    .about-hl {
        align-self: center;
    }
    .about-hl h2 {
        font-size: 1.5rem;
    }
    .about-text p {
        margin: 10px 10px;
        font-size: 1.3rem;
        font-weight: 300;
    }
    .card {
        margin: 20px 10%;
    }
    .interests {
        margin: 40px 10%;
    }
}
@media only screen and (min-width: 1000px) {
    .about-hl h1 {
        font-size: 1.9rem;
    }
    .about-hl {
        align-self: center;
    }
    .about-hl h2 {
        font-size: 1.5rem;
    }
    .about-text p {
        margin: 10px 15px;
        font-size: 1.3rem;
        font-weight: 300;
    }
    .card {
        grid-template-areas:
            "img hl"
            "img hl"
            "text text";
        margin: 20px 15%;
    }
    .interests {
        margin: 40px 20%;
    }
    .portfolio {
        width: 140px;
        height: 60px;
        font-size: 1rem;
    }
}
@media only screen and (min-width: 1600px) {
    .about-hl h1 {
        font-size: 2rem;
    }
    .about-hl {
        align-self: center;
    }
    .about-hl h2 {
        font-size: 1.7rem;
    }
    .about-text p {
        margin: 10px 20px;
        font-size: 1.5rem;
    }
    .card {
        margin: 20px 30%;
    }
    .portfolio {
        width: 150px;
        height: 70px;
    }
}
